


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Usuários: Novo</h4>
</div>

<div class="modal-body">
    
    <form id="formulario">

        <div>
            <label>Nome</label>
            <input id="nome" type="text" class="form-control input-sm">
        </div>

        <div>
            <label>Usuário</label>
            <input id="usuario" type="text" class="form-control input-sm">
        </div>

        <div>
            <label>Senha</label>
            <input id="senha" type="password" class="form-control input-sm">
        </div>
        
    </form>

</div>

<div class="modal-footer">

    <input type="button" value="Cancelar" class="btn btn-default" data-dismiss="modal">
    <input type="submit" value="Salvar" class="btn btn-primary" id="btnSalvar">

</div>
