<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="\APP\Content\bootstrap.css">
    <link rel="stylesheet" href="\APP\Content\site.css">
    <title>RentCar</title>
</head>

<body>
    
    <div class="container">

        <h1>Usuários</h1>

        <hr>

        <button class="btn btn-success" id="btnNovo">
            <i class="glyphicon glyphicon-plus"></i>
            Novo Usuário
        </button>

        <hr>

        <div class="modal fade" tabindex="-1" role="dialog" id="modalUser">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="contentUser">
                        
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Usuários</h4>
                            </div>
                            <form id="formulario">
                            
                                <div class="modal-body">
                                        
                                        <div>
                                            <label>Código</label>
                                            <input id="codigo" type="text" class="form-control input-sm" disabled >
                                        </div>

                                        <div>
                                            <label>Nome</label>
                                            <input id="nome" type="text" class="form-control input-sm">
                                        </div>
                                
                                        <div>
                                            <label>Usuário</label>
                                            <input id="login" type="text" class="form-control input-sm">
                                        </div>
                                
                                        <div>
                                            <label>Senha</label>
                                            <input id="senha" type="password" class="form-control input-sm">
                                        </div>
                                                                                                
                                </div>
                            
                            <div class="modal-footer">
                            
                                <input type="button" value="Cancelar" class="btn btn-default" data-dismiss="modal" onclick="limparFormulario()">
                                <input type="submit" value="Salvar" class="btn btn-primary" id="btnSalvar">                            

                            </div>

                        </form>

                </div>
            </div>
        </div>

        <div id="gridUsuario">
            
        </div>
            

        </table>

        <hr>

        <footer class="footer">
            Copyright &copy; 2019 RentCar
        </footer>
        
    </div>    

    <script src="\APP\Scripts\jquery-1.10.2.js"></script>
    <script src="\APP\Scripts\bootstrap.js"></script>

    <script src="\APP\Scripts\Entidades\Usuario.js"></script>
    <script src="\APP\Scripts\service\UsuarioHttpService.js"></script>
    <script src="\APP\Scripts\Controllers\UsuarioController.js"></script>
    <script src="\APP\Scripts\Usuario.js"></script>

    <script>
            

        $("#formulario").submit(function(){

            $("#modalUser").modal('hide');       
            CarregarUsuarios();     

        });

        function carregarTabela(usuarios){
            
            var str=`
                    <br/>
                    <table class="table table-striped">
                        <tr>
                            <th style='text-align: left;'>Código</th>
                            <th style='text-align: left;'>Nome</th>
                            <th style='text-align: left;'>Login</th>
                            <th><th>
                        </tr>`;
    
                    for(var i in usuarios){
                        str+=`
                            <tr>
                                <td>${usuarios[i].id}</td>
                                <td>${usuarios[i].nome}</td>
                                <td>${usuarios[i].login}</td>
                                <td>                                    
                                    <a class="btn btn-xs btn-warning" title="Alterar" onclick="alterar(${usuarios[i].id})"><i class="glyphicon glyphicon-edit"></i></a>
                                    <a class="btn btn-xs btn-danger" title="Excluir" onclick="excluir(${usuarios[i].id})"><i class="glyphicon glyphicon-trash"></i></a>                     
                                <td>
                            </tr>
                        `;
                    } 
                str+= "</table>";
    
            var tabela = document.querySelector("#gridUsuario");
            tabela.innerHTML = str;
        }
                     
        $("#btnNovo").click(function(){            
                        
            $("#modalUser").modal({
                backdrop: 'static',
                keyboard: false,
                show: true
            });

        });           
                    
        function alterar(e){
            
            var self = this;
            console.log("buscando usuários..." + e);

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {

                if (this.readyState === 4 && this.status === 200) {
                    console.log(self);
                    var usuarios = JSON.parse(this.responseText);
                
                    document.querySelector("#codigo").value = usuarios.id;
                    document.querySelector("#nome").value = usuarios.nome;
                    document.querySelector("#login").value = usuarios.login;
                    document.querySelector("#senha").value = usuarios.senha;

                }

            }   

            xhttp.open("GET", "http://localhost:8080/usuarios/" + e);
            xhttp.send(); 

            $("#modalUser").modal({
                backdrop: 'static',
                keyboard: false,
                show: true
            });
                                    
        }

        function excluir(e){

            var self = this;
            console.log("excluindo usuários..." + e);

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {

                if (this.readyState === 4 && this.status === 200) {
                    console.log(self);
                    var usuarios = JSON.parse(this.responseText);            
                }

            }   

            xhttp.open("DELETE", "http://localhost:8080/usuarios/" + e);
            xhttp.send(); 
            
            CarregarUsuarios();
        }

        function limparFormulario(){
        
            document.querySelector("#codigo").value="";
            document.querySelector("#nome").value="";
            document.querySelector("#login").value="";
            document.querySelector("#senha").value="";
        }

        function CarregarUsuarios(){
        
            var self = this;
            console.log("carregando usuários...");

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {

                if (this.readyState === 4 && this.status === 200) {
                    console.log(self);
                    var usuarios = JSON.parse(this.responseText);
                   carregarTabela(usuarios);                              
               }

            };

            xhttp.open("GET", "http://localhost:8080/usuarios");
            xhttp.send();        

            limparFormulario();
        }

    </script>

</body>

</html>