<!DOCTYPE html>
<html lang="br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="\APP\Content\bootstrap.css">
    <link rel="stylesheet" href="\APP\Content\site.css">

    <title>RentCar</title>

</head>

<body>

    <div class="container">

        <h1>Usuários</h1>

        <button class="btn btn-success">
            <i class="glyphicon glyphicon-plus"></i>
            Novo Usuário
        </button>

        <hr/>
                    
        <main>

        </main>

        <hr/>

        <footer class="footer">            
            Copyright &copy; 2019 RentCar
        </footer>

    </div>

    <script src="\APP\Scripts\jquery-1.10.2.js"></script>
    <script src="\APP\Scripts\bootstrap.js"></script>
    
    <script src="\APP\Scripts\Entidades\Usuario.js"></script>
    <script src="\APP\Scripts\Controllers\UsuarioController.js"></script>
    <script src="\APP\Scripts\Usuario.js"></script>

</body>
</html>
