<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="\APP\Content\bootstrap.css">
    <link rel="stylesheet" href="\APP\Content\site.css">
    <title>RentCar</title>
</head>

<body>
    
    <div class="container">

        <h1>Usuários</h1>

        <hr>

        <form id="formulario">

            <div class="row">
                
                <div class="col-md-3">
                    <label>Nome</label>
                    <input type="text" id="nome" class="form-control">
                </div>

                <div class="col-md-3">
                    <label>Login</label>
                    <input type="text" id="login" class="form-control">
                </div>
            
                <div class="col-md-3">
                    <label>Senha</label>
                    <input type="text" id="senha" class="form-control">
                </div>

            </div>

            <br>

            <button type="submit" class="btn btn-success">
                <i class="glyphicon glyphicon-plus"></i>
                Salvar
            </button>

        </form>

        <hr>

        <div class="modal fade" tabindex="-1" role="dialog" id="modalUser">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="contentUser">

                </div>
            </div>
        </div>

       <div id="gridUsuario">

       </div>

        <hr>

        <footer class="footer">
            Copyright &copy; 2019 RentCar
        </footer>
        
    </div>    

    <script src="\APP\Scripts\jquery-1.10.2.js"></script>
    <script src="\APP\Scripts\bootstrap.js"></script>

    <script src="\APP\Scripts\Entidades\Usuario.js"></script>
    <script src="\APP\Scripts\service\UsuarioHttpService.js"></script>
    <script src="\APP\Scripts\Controllers\UsuarioController.js"></script>0
    <script src="\APP\Scripts\Usuario.js"></script>

    <script>
        
        function carregarTabela(usuarios){
            
            var str=`
                    <br/>
                    <table class="table table-striped">
                        <tr>
                            <th style='text-align: left;'>Código</th>
                            <th style='text-align: left;'>Nome</th>
                            <th style='text-align: left;'>Login</th>
                            <th><th>
                        </tr>`;
    
                    for(var i in usuarios){
                        str+=`
                            <tr>
                                <td>${usuarios[i].id}</td>
                                <td>${usuarios[i].nome}</td>
                                <td>${usuarios[i].login}</td>
                                <th> 
                                    <a class="btn btn-xs btn-warning" title="Alterar" id="btnAlterar"><i class="glyphicon glyphicon-edit"></i></a>
                                    <a class="btn btn-xs btn-danger" title="Excluir" id="btnExcluir"><i class="glyphicon glyphicon-trash"></i></a>                     
                                <th>
                            </tr>
                        `;
                    } 
                str+= "</table>";
    
            var tabela = document.querySelector("#gridUsuario");
            tabela.innerHTML = str;
        } 
             
        $("#btnNovo").click(function(){
            $("#contentUser").load("/APP/Views/Usuario/Novo.html", function(){
                $("#modalUser").modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });
            });
        });           
        
        $("#btnAlterar").click(function(){
            alert('teste Alterar');
        });
   
    </script>

</body>

</html>