<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="\APP\Content\bootstrap.css">
    <link rel="stylesheet" href="\APP\Content\site.css">
    <title>RentCar</title>
</head>

<body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                  
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://localhost:8080/APP/Views/Home/Home.html">RentCar</a>
                  </div>
              
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastro <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="http://localhost:8080/APP/Views/Usuario/Usuario.html">Usuário</a></li>
                          <li><a href="http://localhost:8080/APP/Views/Cliente/Cliente.html">Cliente</a></li>
                          <li><a href="http://localhost:8080/APP/Views/Veiculo/Veiculo.html">Veículos</a></li>                  
                        </ul>
                      </li>
        
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Operações <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="http://localhost:8080/APP/Views/Locacao/Locacao.html">Locação</a></li>
                          <li><a href="http://localhost:8080/APP/Views/Devolucao/Devolucao.html">Devolução</a></li>
                          <li><a href="http://localhost:8080/APP/Views/Reserva/Reserva.html">Reserva</a></li>                  
                        </ul>
                      </li>
        
                    </ul>
                    
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
              </nav>
        
    
    <div class="container">

        <h1>Devoluções</h1>

        <hr>

        <button id="btnNovo" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>
            Nova Devolução
        </button>

        <div class="modal fade" tabindex="-1" role="dialog" id="modalDevolucao">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="conteudoDevolucao">
                        
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Devolução</h4>
                            </div>
                            <form id="formulario">
                            
                                <div class="modal-body">
                                        
                                        <div>
                                            <label>Código</label>
                                            <input id="codigo" type="text" class="form-control input-sm" disabled >
                                        </div>

                                        <div>
                                            <label>Veículo</label>
                                            <select class="form-control input-sm" id="selectVeiculo">
                                            
                                            </select>
                                        </div>
                                
                                        <div>
                                            <label>Cliente</label>
                                            <select class="form-control input-sm" id="selectCliente">                                                                                        
                                            </select>
                                        </div>
                                
                                        <div>
                                            <label>Data Devolução</label>
                                            <input id="dataDevolucao" type="text" class="form-control input-sm">
                                        </div>
                                        
                                        <div>
                                            <label>Tanque</label>
                                            <input id="tanque" type="text" class="form-control input-sm">
                                        </div>

                                        <div>
                                            <label>Avaria</label>
                                            <input id="avaria" type="text" class="form-control input-sm">
                                        </div>
                                        
                                        <div>
                                            <label>Valor Total</label>
                                            <input id="valortotal" type="text" class="form-control input-sm">
                                        </div>
                                                                                                
                                </div>
                            
                            <div class="modal-footer">
                            
                                <input type="button" value="Cancelar" class="btn btn-default" data-dismiss="modal" onclick="limparFormulario()">
                                <input type="submit" value="Salvar" class="btn btn-primary" id="btnSalvar">                            

                            </div>

                        </form>

                </div>
            </div>
        </div>

       <div id="gridDevolucao">

       </div>

        <hr>

        <footer class="footer">
            Copyright &copy; 2019 RentCar
        </footer>
        
    </div>    

    <script src="\APP\Scripts\jquery-1.10.2.js"></script>
    <script src="\APP\Scripts\bootstrap.js"></script>

    <script src="\APP\Scripts\Controllers\DevolucaoController.js"></script>
    <script src="\APP\Scripts\service\DevolucaoHttpService.js"></script>
    <script src="\APP\Scripts\Entidades\Devolucao.js"></script>
    <script src="\APP\Scripts\Devolucao.js"></script>

    <script>

        $("#btnNovo").click(function(){                                                                                    
            
            CarregarCliente();
            CarregarVeiculos();

            $("#modalDevolucao").modal({
                backdrop: 'static',
                keyboard: false,
                show: true
            });

        });          

        $("#formulario").submit(function(){

            $("#modalDevolucao").modal('hide');
            carregarDevolucao();

        });
        
        function carregarTabela(devolucoes){                        

            var str=`
                    <br/>
                    <table class="table table-striped">
                        <tr>
                            <th style='text-align: left;'>Código</th>
                            <th style='text-align: left;'>Veículo</th>
                            <th style='text-align: left;'>Cliente</th>
                            <th style='text-align: left;'>DataDevolucao</th>
                            <th style='text-align: left;'>Tanque</th>
                            <th style='text-align: left;'>Avaria</th>
                            <th style='text-align: left;'>ValorTotal</th>
                            <th><th>
                        </tr>`;
    
                    for(var i in devolucoes){
                        str+=`
                            <tr>
                                <td>${devolucoes[i].id}</td>
                                <td>${devolucoes[i].clienteNome}</td>
                                <td>${devolucoes[i].veiculoModelo}</td>                                
                                <td>${devolucoes[i].dataDevolucao}</td>
                                <td>${devolucoes[i].tanque}</td>
                                <td>${devolucoes[i].avaria}</td>
                                <td>${devolucoes[i].valortotal}</td>
                                <th>                                     
                                    <a class="btn btn-xs btn-warning" title="Alterar" onclick="alterar(${devolucoes[i].id})"><i class="glyphicon glyphicon-edit"></i></a>
                                    <a class="btn btn-xs btn-danger" title="Excluir" onclick="excluir(${devolucoes[i].id})"><i class="glyphicon glyphicon-trash"></i></a>                     
                                <th>
                            </tr>
                        `;
                    } 
                str+= "</table>";
    
            var tabela = document.querySelector("#gridDevolucao");
            tabela.innerHTML = str;

        };

        function limparFormulario(){

            document.querySelector("#codigo").value="";
            document.querySelector("#selectVeiculo").value="";
            document.querySelector("#selectCliente").value="";                        
            document.querySelector("#dataDevolucao").value="";
            document.querySelector("#tanque").value="";
            document.querySelector("#tanque").avaria="";
            document.querySelector("#valortotal").value="";

        }

        function alterar(e){
            
            CarregarVeiculos();
            CarregarCliente();
            
            var self = this;
            console.log("alterando devolucao..." + e);

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function(){

                if(this.readyState === 4 && this.status === 200){
                    console.log(self);
                    var devolucao = JSON.parse(this.responseText);

                    document.querySelector("#codigo").value = devolucao.id;                
                    document.getSelection("#selectVeiculo").value = devolucao.veiculoId;
                    document.querySelector("#selectCliente").value = devolucao.clienteId;
                    document.querySelector("#dataDevolucao").value = devolucao.dataDevolucao;
                    document.querySelector("#tanque").value = devolucao.tanque;
                    document.querySelector("#avaria").value = devolucao.avaria;
                    document.querySelector("#valortotal").value = devolucao.valortotal;

                }

            }

            xhttp.open("GET", "http://localhost:8080/devolucoes/" + e);
            xhttp.send();

            $("#modalDevolucao").modal({
                backdrop: 'static',
                keyboard: false,
                show: true
            });

        }
        
        function excluir(e){

            var self = this;
            console.log("excluindo devolucao..." + e);

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {

                if (this.readyState === 4 && this.status === 200) {
                    console.log(self);
                    var devolucao = JSON.parse(this.responseText);            
                }

            }   

            xhttp.open("DELETE", "http://localhost:8080/devolucoes/" + e);
            xhttp.send(); 
            
            carregarDevolucao();
        }

        function carregarComboClientes(clientes){

            var str = "<option>Selecione um cliente...</option>";

            for(var i in clientes){
                str += "<option value='" + clientes[i].id + "'>" + clientes[i].nome + "</option>";
            }

            var sel = document.querySelector("#selectCliente");
            sel.innerHTML = str;

        }

        function CarregarCliente(){
        
            var self = this;
            console.log("carregando clientes...");

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {

                if (this.readyState === 4 && this.status === 200) {
                    console.log(self);
                var clientes = JSON.parse(this.responseText);
                carregarComboClientes(clientes);               
                }

            };

            xhttp.open("GET", "http://localhost:8080/clientes");
            xhttp.send();        

        }

        function carregarComboVeiculos(veiculos){

            var str = "<option>Selecione um veículo...</option>";

            for(var i in veiculos){
                str += "<option value='" + veiculos[i].id + "'>" + veiculos[i].modelo + "</option>";
            }

            var sel = document.querySelector("#selectVeiculo");
            sel.innerHTML = str;

        }

        function CarregarVeiculos(){

            var self = this;
            console.log("carregando Veiculos...");

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {

                if (this.readyState === 4 && this.status === 200) {
                    console.log(self);
                var veiculos = JSON.parse(this.responseText);
                carregarComboVeiculos(veiculos);               
                }

            };

            xhttp.open("GET", "http://localhost:8080/veiculos");
            xhttp.send();        

        }

        function carregarDevolucao(){
        
            var self = this;
            console.log("carregando devolucoes...");

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {

                if (this.readyState === 4 && this.status === 200) {
                    console.log(self);
                var devolucoes = JSON.parse(this.responseText);
                carregarTabela(devolucoes);               
                }

            };

            xhttp.open("GET", "http://localhost:8080/devolucoes");
            xhttp.send();       
            
            limparFormulario();

        }

    </script>

</body>

</html>