


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Reservas: Novo</h4>
</div>

<div class="modal-body">
    
    <form id="formulario">

        <div>
           <label>Cliente</label>
                <select name="cliente" id="cliente">
        <option value=""> --- selecione --- </option>
        </div>
            </select> <br/>
        <div>
            <label>Veiculo</label>
                <select name="veiculo" id="veiculo">
        <option value=""> --- selecione --- </option>
            </select> <br/>
        </div>


        <div>
            <label>Data Retirada</label>
            <input id="dataretirada" type="date" class="form-control input-sm">
        </div>
        
    </form>

</div>

<div class="modal-footer">

    <input type="button" value="Cancelar" class="btn btn-default" data-dismiss="modal">
    <input type="submit" value="Salvar" class="btn btn-primary" id="btnSalvar">

</div>

 <script>
        
       CarregarClientes(){
        
        var self = this;
        console.log("carregando clientes...");

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {

            if (this.readyState === 4 && this.status === 200) {
                console.log(self);
               //self.montarTabela(JSON.parse(this.responseText));
               var clientes = JSON.parse(this.responseText);
               carregarTabela(clientes);
                              
            }

        };

        xhttp.open("GET", "http://localhost:8080/clientes");
        xhttp.send();


 CarregarVeiculos(){
        
        var self = this;
        console.log("carregando veiculos...");

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {

            if (this.readyState === 4 && this.status === 200) {
                console.log(self);
               //self.montarTabela(JSON.parse(this.responseText));
               var veiculos = JSON.parse(this.responseText);
               carregarTabela(veiculos);
                              
            }

        };

        xhttp.open("GET", "http://localhost:8080/veiculos");
        xhttp.send();

   
    </script>

</body>



</html>
