


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Reservas: Novo</h4>
</div>

<div class="modal-body">
    
    <form id="formulario">

        <div>
           <label>Cliente</label>
                <select name="cliente" id="cliente">
        <option value=""> --- selecione --- </option>
    


        </div>
            </select> <br/>
        <div>
            <label>Veiculo</label>
                <select name="veiculo" id="veiculo">
        <option value=""> --- selecione --- </option>
            </select> <br/>
        </div>


        <div>
            <label>Data Retirada</label>
            <input id="dataretirada" type="date" class="form-control input-sm">
        </div>
        
    </form>

</div>

<div class="modal-footer">

    <input type="button" value="Cancelar" class="btn btn-default" data-dismiss="modal">
    <input type="submit" value="Salvar" class="btn btn-primary" id="btnSalvar">

</div>
