<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="\APP\Content\bootstrap.css">
    <link rel="stylesheet" href="\APP\Content\site.css">
    <title>RentCar</title>
</head>

<body>
    
    <div class="container">

        <h1>Reservas</h1>

        <hr>

        <button id="btnNovo" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>
            Nova Reserva
        </button>

        <div class="modal fade" tabindex="-1" role="dialog" id="modalReserva">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="conteudoReserva">
                        
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Reserva</h4>
                            </div>
                            <form id="formulario">
                            
                                <div class="modal-body">
                                        
                                        <div>
                                            <label>Código</label>
                                            <input id="codigo" type="text" class="form-control input-sm" disabled >
                                        </div>

                                        <div>
                                            <label>Veículo</label>
                                            <select class="form-control input-sm" id="selectVeiculo">
                                            
                                            </select>
                                        </div>
                                
                                        <div>
                                            <label>Cliente</label>
                                            <select class="form-control input-sm" id="selectCliente">

                                            </select>
                                        </div>
                                
                                        <div>
                                            <label>Data</label>
                                            <input id="Data" type="text" class="form-control input-sm">
                                        </div>
                                                                                                
                                </div>
                            
                            <div class="modal-footer">
                            
                                <input type="button" value="Cancelar" class="btn btn-default" data-dismiss="modal">
                                <input type="submit" value="Salvar" class="btn btn-primary" id="btnSalvar">                            

                            </div>

                        </form>

                </div>
            </div>
        </div>

       <div id="gridReserva">

       </div>

        <hr>

        <footer class="footer">
            Copyright &copy; 2019 RentCar
        </footer>
        
    </div>    

    <script src="\APP\Scripts\jquery-1.10.2.js"></script>
    <script src="\APP\Scripts\bootstrap.js"></script>

    <script src="\APP\Scripts\Controllers\ReservaController.js"></script>
    <script src="\APP\Scripts\service\ReservaHttpService.js"></script>
    <script src="\APP\Scripts\Entidades\Reserva.js"></script>
    <script src="\APP\Scripts\Reserva.js"></script>

    <script>

        $("#btnNovo").click(function(){                        

            $("#modalReserva").modal({
                backdrop: 'static',
                keyboard: false,
                show: true
            });

        });          

        $("#formulario").submit(function(){

            $("#modalReserva").modal('hide');       
            CarregarReserva();     

        });
        
        function carregarTabela(reservas){
            
            var str=`
                    <br/>
                    <table class="table table-striped">
                        <tr>
                            <th style='text-align: left;'>Código</th>
                            <th style='text-align: left;'>Veículo</th>
                            <th style='text-align: left;'>Cliente</th>
                            <th style='text-align: left;'>DataRetirada</th>
                            <th><th>
                        </tr>`;
    
                    for(var i in reservas){
                        str+=`
                            <tr>
                                <td>${reservas[i].id}</td>
                                <td>${reservas[i].clientenome}</td>
                                <td>${reservas[i].veiculomodelo}</td>                                
                                <td>${reservas[i].dataretirada}</td>
                                <th>                                     
                                    <a class="btn btn-xs btn-warning" title="Alterar"><i class="glyphicon glyphicon-edit"></i></a>
                                    <a class="btn btn-xs btn-danger" title="Excluir"><i class="glyphicon glyphicon-trash"></i></a>                     
                                <th>
                            </tr>
                        `;
                    } 
                str+= "</table>";
    
            var tabela = document.querySelector("#gridReserva");
            tabela.innerHTML = str;
        } 
                       
    </script>

</body>



</html>