<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="\APP\Content\bootstrap.css">
    <link rel="stylesheet" href="\APP\Content\site.css">
    <title>RentCar</title>
</head>

<body>
    
    <div class="container">

        <h1>Veículos</h1>

        <hr>

        <button class="btn btn-success" id="btnNovo">
            <i class="glyphicon glyphicon-plus"></i>
            Novo Veiculo
        </button>

        <hr>

        <div class="modal fade" tabindex="-1" role="dialog" id="modalUser">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="contentUser">
                        
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Veiculos/h4>
                            </div>
                            <form id="formulario">
                            
                                <div class="modal-body">
                                        
                                        <div>
                                            <label>Código</label>
                                            <input id="codigo" type="text" class="form-control input-sm" disabled >
                                        </div>

                                        <div>
                                            <label>Marca</label>
                                            <input id="marca" type="text" class="form-control input-sm">
                                        </div>
                                
                                        <div>
                                            <label>Modelo</label>
                                            <input id="modelo" type="text" class="form-control input-sm">
                                        </div>
                                
                                        <div>
                                            <label>Ano</label>
                                            <input id="ano" type="text" class="form-control input-sm">
                                        </div>

                                        <div>
                                            <label>Placa</label>
                                            <input id="placa" type="text" class="form-control input-sm">
                                        </div>
                                                                                                
                                </div>
                            
                            <div class="modal-footer">
                            
                                <input type="button" value="Cancelar" class="btn btn-default" data-dismiss="modal">
                                <input type="submit" value="Salvar" class="btn btn-primary" id="btnSalvar">                            

                            </div>

                        </form>

                </div>
            </div>
        </div>

        <div id="gridVeiculo">
            
        </div>
            
        <hr>

        <footer class="footer">
            Copyright &copy; 2019 RentCar
        </footer>
        
    </div>    

    <script src="\APP\Scripts\jquery-1.10.2.js"></script>
    <script src="\APP\Scripts\bootstrap.js"></script>

    <script src="\APP\Scripts\Entidades\Veiculo.js"></script>
    <script src="\APP\Scripts\service\VeiculoHttpService.js"></script>
    <script src="\APP\Scripts\Controllers\VeiculoController.js"></script>
    <script src="\APP\Scripts\Veiculo.js"></script>

    <script>
        
        $("#formulario").submit(function(){

            $("#modalUser").modal('hide');       
            CarregarVeiculos();     
            
        });

        function carregarTabela(veiculos){
            
            var str=`
                    <br/>
                    <table class="table table-striped">
                        <tr>
                            <th style='text-align: left;'>Código</th>
                            <th style='text-align: left;'>Marca</th>
                            <th style='text-align: left;'>Modelo</th>
                            <th style='text-align: left;'>Ano</th>
                            <th style='text-align: left;'>Placa</th>
                            <th><th>
                        </tr>`;
    
                    for(var i in veiculos){
                        str+=`
                            <tr>
                                <td>${veiculos[i].id}</td>
                                <td>${veiculos[i].marca}</td>
                                <td>${veiculos[i].modelo}</td>
                                <td>${veiculos[i].ano}</td>
                                <td>${veiculos[i].placa}</td>
                                <td>                                    
                                    <a class="btn btn-xs btn-warning" title="Alterar" onclick="alterar(${veiculos[i].id})"><i class="glyphicon glyphicon-edit"></i></a>
                                    <a class="btn btn-xs btn-danger" title="Excluir" onclick="excluir(${veiculos[i].id})"><i class="glyphicon glyphicon-trash"></i></a>                     
                                <td>
                            </tr>
                        `;
                    } 
                str+= "</table>";
    
            var tabela = document.querySelector("#gridVeiculo");
            tabela.innerHTML = str;
        }
                     
        $("#btnNovo").click(function(){                        

            $("#modalUser").modal({
                backdrop: 'static',
                keyboard: false,
                show: true
            });

        });           
                    
        function alterar(e){
            
            var self = this;
            console.log("buscando veiculos..." + e);

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {

                if (this.readyState === 4 && this.status === 200) {
                    console.log(self);
                    var veiculos = JSON.parse(this.responseText);
                
                    document.querySelector("#codigo").value = veiculos.id;
                    document.querySelector("#marca").value = veiculos.marca;
                    document.querySelector("#modelo").value = veiculos.modelo;
                    document.querySelector("#ano").value = veiculos.ano;
                    document.querySelector("#placa").value = veiculos.placa;

                }

            }   

            xhttp.open("GET", "http://localhost:8080/veiculos/" + e);
            xhttp.send(); 

            $("#modalUser").modal({
                backdrop: 'static',
                keyboard: false,
                show: true
            });
                        
        }

        function excluir(e){

            var self = this;
            console.log("excluindo veiculos..." + e);

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {

                if (this.readyState === 4 && this.status === 200) {
                    console.log(self);
                    var veiculos = JSON.parse(this.responseText);            
                }

            }   

            xhttp.open("DELETE", "http://localhost:8080/veiculos/" + e);
            xhttp.send(); 
            
            CarregarVeiculos();
        }

        function limparFormulario(){
        
            document.querySelector("#codigo").value="";
            document.querySelector("#marca").value="";
            document.querySelector("#modelo").value="";
            document.querySelector("#ano").value="";
            document.querySelector("#placa").value="";
        }

        function CarregarVeiculos(){
        
            var self = this;
            console.log("carregando veiculos...");

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {

                if (this.readyState === 4 && this.status === 200) {
                    console.log(self);
                    var veiculos = JSON.parse(this.responseText);
                   carregarTabela(veiculos);                              
               }

            };

            xhttp.open("GET", "http://localhost:8080/veiculos");
            xhttp.send();        

            limparFormulario();
        }

    </script>

</body>

</html>